<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lwq.com.recyclerviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.StaggeredLayoutActivity" />
        <activity android:name=".Activity.MultiTypeActivity" />
        <activity android:name=".Activity.LinearLayoutDemoActivity" />
        <activity android:name=".Activity.LinearLayoutDemo1Activity" />
        <activity android:name=".Activity.LinearLayoutDemo2Activity" />
        <activity android:name=".Activity.LinearLayoutDemo3Activity" />
        <activity android:name=".Activity.LinearLayoutDemo4Activity" />
        <activity android:name=".Activity.GridLayoutDemoActivity" />
        <activity android:name=".Activity.GridLayoutDemo1Activity" />
        <activity android:name=".Activity.GridLayoutDemo2Activity"/>
    </application>

</manifest>